{% extends "admin_page/index.html" %}
{% block title %} Lista de Acciones de Usuarios {% endblock %}
{% block header %}
   {% if acciones %}
       {% with primer_accion=acciones.first %}
           ACCIONES REGISTRADAS DEL USUARIO: <br> {{ primer_accion.usuario.nombre }} {{ primer_accion.usuario.apellido }}
       {% endwith %}
   {% endif %}
{% endblock %}
{% block content %}
<div class="cards-container">
   {% for accion in acciones %}
   <div class="card-container">
       <div class="card">
           <div class="contenido-card">
               <h3>{{ accion.usuario.nombre }} {{ accion.usuario.apellido }}</h3>
               <p>DNI: {{ accion.usuario.dni }}</p>
               <p>Fecha: {{ accion.fecha_actividad }}</p>
               <p>Hora: {{ accion.hora_actividad }}</p>
               <h3>Puerta: {{ accion.puerta.codigo }}</h3>
               <p>Ubicación: {{ accion.puerta.ubicacion }}</p>
           </div>
       </div>
   </div>
   {% endfor %}
</div>
{% endblock %}