{% extends "admin_page/index.html" %}

{% block title %} Plantilla HORARIOS {% endblock %}
{%block header%} LISTA DE HORARIOS REGISTRADOS {% endblock %}

{% block content %}
<div class="container">
    <div class="calendar">
        <div class="header">
            <div class="month"></div>
            <div class="btns">
                <div class="btn today-btn">
                    <i class="fas fa-calendar-day"></i>
                </div>
                <div class="btn prev-btn">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="btn next-btn">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="weekdays">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
        </div>
        <div class="days">
            <!-- lets add days using js -->
        </div>
    </div>
    <div class="cardform">
        <form id="dateForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>CONSULTA RAPIDA</label><br>
                <label for="user">Usuario:</label>
                <select id="user" name="user">
                    <option value="">Seleccione un usuario</option>
                    {% for u in users %}
                        <option value="{{ u.nombre }}">{{ u.nombre }} {{ u.apellido }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="door">Puerta:</label>
                <select id="door" name="door">
                    <option value="">Seleccione una puerta</option>
                    {% for p in doors %}
                        <option value="{{ p.codigo }}">{{ p.codigo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="day">Día de la semana:</label>
                <select id="day" name="day" required>
                    <option value="">Seleccione un día</option>
                    <option value="lunes">Lunes</option>
                    <option value="martes">Martes</option>
                    <option value="miércoles">Miércoles</option>
                    <option value="jueves">Jueves</option>
                    <option value="viernes">Viernes</option>
                    <option value="sábado">Sábado</option>
                    <option value="domingo">Domingo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="time">Hora:</label>
                <input type="text" id="time" name="time" placeholder="HH:MM">
            </div>
            <button type="submit">Consultar</button>
        </form>
    </div>
    <div class="cardform">
        <label>RESULTADOS</label><br>
        {% if horarios %}
            {% for horario in horarios %}
                <p>{{ horario.user.nombre }} - {{ horario.puerta.codigo }} - {{ horario.dia_semana }} : {{ horario.hora_inicio|date:"H:i" }} y {{ horario.hora_fin|date:"H:i" }}</p>
            {% endfor %}
        {% else %}
            <p>No se encontraron resultados.</p>
        {% endif %}
    </div>
</div>
<div class="containerLA">
    <div class="cardform" style="order: 2;">
        <table class="table" id="user-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>DNI</th>
                    <th>Foto</th>
                    <th>Horarios</th> 
                </tr>
            </thead>
            <tbody>
                {% for usuario in users %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.dni }}</td>
                    <td>
                        {% if usuario.foto %}
                            <img src="{{ usuario.foto.url }}" width="50" height="50">
                        {% else %}
                            No disponible
                        {% endif %} 
                    </td>
                    <td>
                        <a href="{% url 'admin_page:ver_horarios' usuario.id %}" class="ver-horarios-link">Ver Horarios</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}