{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_horario.css' %}">
    <link rel="stylesheet" href="{% static "css/listas_styles.css" %}">
    <link rel="stylesheet" href="{% static "css/horarios_styles.css" %}">
    <link rel="stylesheet" href="{% static "css/form_edit.css" %}">
    <link rel="stylesheet" href="{% static "css/form_add.css" %}">
    <link rel="stylesheet" href="{% static "css/perfil_admin.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body class="preload">
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <div class="barra-lateral"> 
        <div>
            <div class="nombre-pagina">
                <ion-icon id="logo" name="desktop-outline"></ion-icon>
                <span>TECSCURE</span>
            </div>
            <button class="boton">
                <ion-icon name="server-outline"></ion-icon>
                <a href="{% url 'admin_page:index' %}"><span>SHOW ALL DATA</span></a>
            </button>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a class="opcion" href="{% url 'admin_page:usuarios' %}">
                        <ion-icon name="body-outline"></ion-icon>
                        <span>USUARIOS</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_page:puertas' %}">
                        <ion-icon name="storefront-outline"></ion-icon>
                        <span>PUERTAS</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_page:horarios' %}">
                        <ion-icon name="calendar-outline"></ion-icon>
                        <span>HORARIOS</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="finger-print-outline"></ion-icon>
                        <span>GESTOR DE HUELLAS</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>
            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>DARCK MOD</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo"></div>
                    </div>
                </div>
            </div>
    
            <div class="usuario">
                {% if administrador.foto %}
                    <img src="{{ administrador.foto.url }}" alt="Foto del administrador">
                {% else %}
                    <img src="{% static 'default_user_image.jpg' %}" alt="Foto por defecto">
                {% endif %}
                <div class="info-usuario">
                    <a href="{% url 'admin_page:perfil_administrador' %}">
                        <div class="nombre-email">
                            <span class="nombre">{{ administrador.nombre }}</span>
                            <span class="email">{{ administrador.correo }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="headerALL">
            <h1>{% block header %}{% endblock header %}</h1>
            <div class="wrap">
                <div class="widget">
                    <div class="fecha">
                        <p id="diaSemana" class="diaSemana"></p>
                        <p id="dia" class="dia"></p>
                        <p>de</p>
                        <p id="mes" class="mes"></p>
                        <p>del</p>
                        <p id="year" class="year"></p>
                    </div>
                    <div class="reloj">
                        <p id="horas" class="horas"></p>
                        <p>:</p>
                        <p id="minutos" class="minutos"></p>
                        <p>:</p>
                        <div class="caja-segundos">
                            <p id="segundos" class="segundos"></p>
                            <p id="ampm" class="ampm"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
    
        {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <script type="text/javascript" src="{% static "js/horarios_scripts.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/edit_profile.js' %}"></script>
    <Script>
        (function(){
            var actualizarHora = function(){
                var fecha = new Date(),
                    horas = fecha.getHours(),
                    ampm,
                    minutos = fecha.getMinutes(),
                    segundos = fecha.getSeconds(),
                    diaSemana = fecha.getDay(),
                    dia = fecha.getDate(),
                    mes = fecha.getMonth(),
                    year = fecha.getFullYear();
        
                var pHoras = document.getElementById('horas'),
                    pAMPM = document.getElementById('ampm'),
                    pMinutos = document.getElementById('minutos'),
                    pSegundos = document.getElementById('segundos'),
                    pDiaSemana = document.getElementById('diaSemana'),
                    pDia = document.getElementById('dia'),
                    pMes = document.getElementById('mes'),
                    pYear = document.getElementById('year');
        
                var semana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
                pDiaSemana.textContent = semana[diaSemana];
        
                pDia.textContent = dia;
        
                var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
                pMes.textContent = meses[mes];
        
                pYear.textContent = year;
        
                if (horas >= 12){
                    horas = horas - 12;
                    ampm = 'PM';
                }else{
                    ampm = 'AM';
                }
        
                if (horas == 0){
                    horas = 12;
                }
        
                pHoras.textContent = horas;
                pAMPM.textContent = ampm;
        
                if (minutos < 10){ minutos = "0" + minutos;}
                if (segundos < 10){ segundos = "0" + segundos;}
        
                pMinutos.textContent = minutos;
                pSegundos.textContent = segundos;
            };
            actualizarHora();
            var intervalo = setInterval(actualizarHora, 1000);
        })();
    </Script>
</body>
</html>
