{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static "css/login_styles.css" %}">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="post" class="sign-in-form">
                    {% csrf_token %}
                    <h2 class="title">Restablecer Contraseña</h2>
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="new_password" placeholder="Nueva Contraseña" required/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" required/>
                    </div>
                    <input type="submit" value="Restablecer" class="btn solid"/>
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Restablecer tu contraseña</h3>
                    <p>Ingresa tu nueva contraseña en los campos proporcionados.</p>
                </div>
                <img src="{% static "imagenes/logo.png" %}" class="image" alt="Logo"/>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/login_scripts.js" %}"></script>
</body>
</html>
